extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to show Detail
 else
  - let vegetableid = toShow._id
  - let vegetableName = toShow.vegetableName
  - let vegetableCost = toShow.vegetableCost
  - let vegetableColour = toShow.vegetableColour
   div
    div.row(class = 'rowAttr')
     div(class='vegetableAttr mr-3') Vegetableid ID is:
     div #{vegetableid}
    div.row(class = 'rowAttr1')
     div(class='vegetableAttr mr-3') vegetable Name is:
     div #{vegetableName}
    div.row(class = 'rowAttr2')
     div(class='vegetableAttr mr-3')  Vegetable Cost is:
     div #{vegetableCost}
    div.row(class = 'rowAttr3')
     div(class='vegetableAttr mr-3') vegetable Colour is:
     div #{vegetableColour}